extends layout

block js
  script(src='components/jquery/dist/jquery.min.js')
  script(src='/js/communications.js')
  script(src='/js/auth.js')

  include templates/list-group

block content

  .loader
  .dot
  .dot
  .dot
  .dot
  .dot
  .dot
  .dot
  .dot

  script(type='text/javascript').
    $(function () {
      var authUrl = '!{authUrl}';
      var winParams = !{JSON.stringify(winParams)};
      openModal(authUrl, winParams);
      console.log('Opened');
    });
