extends layout

block content
  h1= title
  p Welcome to #{title}!

  section
    p Import Elvanto

    button(data-click="importElvanto" title="Import Elvanto").
      Import Elvanto

  section().progress
    p Import Excel

    input(data-click="importExcel" type="file" name="inputFile" multiple="true")
