extends layout

block content
  .wrapped-md
    .row
      .col-sm-6
        .panel.panel-default
          .panel-heading.font-bold
            | Import Elvanto
          .panel-body
            button.btn.btn-success(data-click="importElvanto" title="Import Elvanto") Import

      .col-sm-6
        .panel.panel-default
          .panel-heading.font-bold
            | Database to Google Contacts
          .panel-body
            button.btn.btn-success(data-click="exportGoogleContacts" title="Export local peoples to Google Contacts") Export
