extends layout

block content
  script(src='https://maps.google.com/maps/api/js?key=AIzaSyAO8rnULfb_5wj5X7j0QbulYDoQhxBlXNI')
  h1= title

  section
  .col-lg-6.m-b-md
  .tabs-container
    ul.nav.nav-tabs
      li.active
        a(data-toggle='tab' href='#tab-1') Sort by Address
      li
        a(data-toggle='tab' href='#tab-2') Sort by City
      li
        a(data-toggle='tab' href='#tab-3') Sort by ZIP

  .tab-content
   #tab-1.tab-pane.active
      select#search_type(name='search_type')
        option(disabled='disabled' selected="selected") Choose search method
        option(value='city' title='example: Upland, Perris, Corona') City
        option(value='street' title='example: 385') Street
        option(value='loc' title='example: -117,33,40') Geolocation [lng,lat,rad]
        option(value='zip' title='example: 92879') ZIP code
      input#search_term(name="search_term", data-onkeypress="search_on_enter")
      button.fa.fa-search(data-click="search").
        search

   #tab-2.tab-pane
      select#search_type(name='search_type')
        option(disabled='disabled' selected="selected") Choose search method
        option(value='city' title='example: Upland, Perris, Corona') City
        option(value='street' title='example: 385') Street
        option(value='loc' title='example: -117,33,40') Geolocation [lng,lat,rad]
        option(value='zip' title='example: 92879') ZIP code
      input#search_term(name="search_term", data-onkeypress="search_on_enter")
      button.fa.fa-search(data-click="search").
        search

   #tab-3.tab-pane
      select#search_type(name='search_type')
        option(disabled='disabled' selected="selected") Choose search method
        option(value='city' title='example: Upland, Perris, Corona') City
        option(value='street' title='example: 385') Street
        option(value='loc' title='example: -117,33,40') Geolocation [lng,lat,rad]
        option(value='zip' title='example: 92879') ZIP code
      input#search_term(name="search_term", data-onkeypress="search_on_enter")
      button.fa.fa-search(data-click="search").
        search



  br
  br

  section.search_result
