extends layout

block content
  include templates/search-tree
  include templates/marker_bubble_template
  script(src='https://maps.google.com/maps/api/js'  async defer)
  script(src="components/bootstrap-multiselect/dist/js/bootstrap-multiselect.js")
  link(href="components/bootstrap-multiselect/dist/css/bootstrap-multiselect.css" rel="stylesheet" type="text/css")

  .row
    .col-sm-4
      .tabs-container
        ul.nav.nav-tabs
          li.active
            a(data-toggle='tab' href='#tab-1') Address
          li
            a(data-toggle='tab' href='#tab-2') City
          li
            a(data-toggle='tab' href='#tab-3') ZIP

      .tab-content
       #tab-1.tab-pane.active
          section
              .panel.panel-default
                  .panel-heading
                      .clearfix
                          input(type='hidden' name='search_type' value='street')
                        .form-group
                          label Search address
                          input.form-control(name="search_term", data-onkeypress="search_on_enter")
                        .form-group
                          label Filter by city:
                          select.form-control.filter_city(name='filter_term' multiple='multiple')
       #tab-2.tab-pane
          section
              .panel.panel-default
                  .panel-heading
                      .clearfix
                          input(type='hidden' name='search_type' value='city')
                        .form-group
                          label Select city:
                          select.form-control.search_city(name='search_term' multiple='multiple')
                        .form-group
                          label Filter by address
                          input.form-control.filter_address(name="filter_term", data-onkeypress="search_on_enter")

       #tab-3.tab-pane
          section
              .panel.panel-default
                  .panel-heading
                      .clearfix
                          input(type='hidden' name='search_type' value='zip')
                        .form-group
                          label Select ZIP:&nbsp;
                          select.form-control.search_zip(name='search_term' multiple='multiple')

       section
          .panel.panel-default
            .clear-fix
               button.btn.btn-sm.btn-primary(data-click="search")
                | search
               &nbsp;
               button.btn.btn-sm.btn-primary.glyphicon.glyphicon-text-height.sort-alphabetical(data-toggle="button" data-click="search")

       section.search_result
         section
          .panel.panel-default
              .panel-heading
                .b-t.b-b(type='dataTree')

    .col-sm-8.m-b-md
     #map
