script#list-group-text(type='text/html')
    <a class="list-group-item" href="#">
    <span class="pull-left m-r thumb-sm">
    </span>
    <span class="clear block m-b-none">
    {{text}}
    <br/>
    <div class="small text-muted">
    {{small_text}}
    </div>
    </span>
    </a>


script#list-group-progress(type='text/html')
    <a class="list-group-item" href="#" id="pb">
    <span class="pull-left m-r thumb-sm">
    </span>
    <span class="clear block m-b-none">
    <div class="progress progress-sm progress-striped active m-t-xs m-b-none">
    <div class="progress-bar bg-success" data-toggle="tooltip" data-original-title="{{percent}}" style="width: {{percent}}%"></div>
    </span>
    </div>
    </a>
