script#marker_bubble_template(type='text/html').
  <b>{{full_name}}</b>
  Address: {{address}}
  Phone # {{phone}}
  <br/>
  <b>FAMILY MEMBERS</b>
  {{family_members}}
  <!--{Here should be the list of family members [same surname] living in 15 miles radius near this family}-->
