script#profile(type='text/html')
  .panel.panel-default
      .panel-heading
          .clearfix
            .h5.m-t-xs.m-b-xs
                | {{home_address}} {{home_address2}}, {{home_city}}
            a.pull-left.thumb-md.avatar.b-3x.m-r(href='#')
              img(src="{{picture}}", alt="...")
            .clear
              .a(name="{{elvantoId}}")
                a(href='#')
                 .h6.m-t-xs.m-b-xs
                  | {{lastname}}, {{firstname}}
              small.text-muted {{home_address}} {{home_address2}}, {{home_city}}, {{home_state}} {{home_postcode}}
              .list-group.no-radius.alt.none
                | {{#family.family_member}}
                a.list-group-item(href='#')
                  i.fa.fa-comment.fa-fw.text-muted
                  | {{lastname}}, {{firstname}}
                | {{/family.family_member}}
